@charset "UTF-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* 리셋 기본 css */
body {
  transition: 1s all ease;
  font-size: 3vh;
  color: #333;
}
body main section {
  height: 100vh;
}
body main section .title {
  height: 5vh;
}
body main section .contents {
  height: 95vh;
}

div.intro {
  height: 100vh;
  background: url(../img/photo_01.jpg) no-repeat;
  background-size: 140%;
  background-position: center;
}
div.intro .finger {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 1.8em;
  animation: finger_slide 3s ease infinite;
}
div.intro .finger img {
  width: 100%;
}

@keyframes finger_slide {
  0% {
    opacity: 0.2;
    bottom: 0.7em;
    transform: scale(1.3);
  }
  20% {
    opacity: 0.7;
    bottom: 0.7em;
    transform: scale(1);
  }
  70% {
    opacity: 0.7;
    bottom: 1.4em;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    bottom: 0.7em;
    transform: scale(1.3);
  }
}
.countdown {
  position: absolute;
  left: 1.5em;
  bottom: 4.5em;
  text-shadow: 0px 0px 10px #FFf;
}
.countdown h2 {
  font-size: 1.4em;
}
.countdown h3 {
  font-size: 1em;
  margin: 4px 0 4px 0;
}
.countdown #clock span {
  font-size: 1.6em;
}

.contact_1 {
  height: 76vh;
}

.contact_2 {
  height: 19vh;
}

.box {
  height: 100%;
  float: left;
  width: 50%;
  cursor: pointer;
  transition: 1s all ease;
  overflow: hidden;
}

.groom {
  background: url(../img/photo_02.jpg) no-repeat;
}
.groom .semicircle {
  right: -5vh;
  border-radius: 10vh 0 0 10vh;
  text-align: left;
}

.bride {
  background: url(../img/photo_03.jpg) no-repeat;
  border-left: 1px solid #666;
  box-sizing: border-box;
}
.bride .semicircle {
  left: -5vh;
  border-radius: 0 10vh 10vh 0;
  text-align: right;
}

.groom, .bride {
  background-size: cover;
  background-position: center;
  position: relative;
}
.groom .finger, .bride .finger {
  position: absolute;
  top: 2.5em;
  right: 11vw;
  width: 1em;
  animation: finger_click 3s ease infinite;
}
.groom .finger img, .bride .finger img {
  width: 100%;
}
.groom .semicircle, .bride .semicircle {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  position: absolute;
  top: 30vh;
  font-size: 0.6em;
  color: #efefef;
  background: RGBA(64, 74, 122, 0.6);
  overflow: hidden;
}
.groom .contents_title, .bride .contents_title {
  transition: 1s all ease;
  line-height: 1em;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em;
}
.groom.on .contents_title, .bride.on .contents_title {
  font-size: 1.5em;
  transition: 1s all ease;
  text-shadow: 0px 0px 10px #FFf;
}
.groom.on .tel, .bride.on .tel {
  bottom: 50px;
  opacity: 1;
  transition: 1s all ease;
}
.groom .tel, .bride .tel {
  position: absolute;
  bottom: -100%;
  width: 100%;
  opacity: 0;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 10px #333;
}
.groom .tel p, .bride .tel p {
  margin-bottom: 10px;
}
.groom .tel div.img, .bride .tel div.img {
  width: 2.6em;
  height: 2.5em;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.groom .tel div.img img, .bride .tel div.img img {
  height: 100%;
  margin-left: 10%;
}

@keyframes finger_click {
  0% {
    opacity: 0.2;
    transform: scale(1.3);
  }
  20% {
    opacity: 0.6;
    transform: scale(1);
  }
  60% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(1.3);
  }
}
.contact_2 {
  font-size: 6vw;
}
.contact_2 .parent {
  margin-top: 0.5em;
  float: left;
  width: 50%;
}
.contact_2 .parent h3 {
  font-size: 0.8em;
  text-align: center;
}
.contact_2 .parent .info {
  font-size: 0.7em;
  margin: 0.8em;
}
.contact_2 .parent .info p {
  font-size: 0.8em;
  display: inline;
}
.contact_2 .parent .info p.name {
  display: inline-block;
  vertical-align: middle;
  width: 18vw;
  font-size: 1.5em;
  text-align: center;
}
.contact_2 .parent .info p.name.deceased {
  width: 25vw;
}
.contact_2 .parent .info a {
  vertical-align: middle;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 0.4em;
  background: #3D4882;
  color: #efefef;
}

@media screen and (device-aspect-ratio: 3 / 4), screen and (device-aspect-ratio: 10 / 16) {
  .contact_2 {
    font-size: 4vw;
  }
}
.owl-carousel div.item {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-carousel .slide_01 {
  background-image: url(../img/slide_01.jpg);
}
.owl-carousel .slide_02 {
  background-image: url(../img/slide_02.jpg);
}
.owl-carousel .slide_03 {
  background-image: url(../img/slide_03.jpg);
}
.owl-carousel .slide_04 {
  background-image: url(../img/slide_04.jpg);
}
.owl-carousel .slide_05 {
  background-image: url(../img/slide_05.jpg);
}
.owl-carousel .slide_06 {
  background-image: url(../img/slide_06.jpg);
}
.owl-carousel .slide_07 {
  background-image: url(../img/slide_07.jpg);
}

.map {
  text-align: center;
}
.map img {
  width: 100vw;
  max-width: 600px;
}
.map p {
  float: right;
  border: 1px solid #629C46;
  box-sizing: border-box;
  background: #75B45A;
  color: #efefef;
  font-size: 0.5em;
  margin-right: 2vw;
  padding: 3vw;
}

.location {
  font-size: 0.75em;
}
.location .location_text {
  position: absolute;
  bottom: 10vh;
  margin: 3vw 10vw;
}
.location .location_text p {
  padding-top: 1vh;
}
.location .location_text p.bold {
  font-weight: bold;
  padding-top: 2vh;
}

.mpp_landscape {
  display: none;
}

@media screen and (orientation: landscape) {
  .mpp_landscape {
    position: fixed;
    display: block;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #666;
  }

  .mpp_landscape_box {
    position: absolute;
    width: 100px;
    height: 50px;
    border: 2px solid #efefef;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: mpp_landscape_anibox 1.5s infinite;
    animation: mpp_landscape_anibox 1.5s infinite;
  }

  .mpp_landscape_box::before {
    content: '';
    position: absolute;
    display: bloc;
    width: 76px;
    height: 50px;
    border: 2px solid #efefef;
    top: -2px;
    left: 9px;
  }

  .mpp_landscape_box2 {
    position: absolute;
    width: 7px;
    height: 7px;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 1px;
    top: 20px;
  }

  .mpp_landscape_text {
    position: absolute;
    width: 190px;
    height: 0;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #FFF;
    text-align: center;
  }

  @-webkit-keyframes mpp_landscape_anibox {
    0% {
      -webkit-transform: rotate(0);
      opacity: 0;
    }
    20% {
      -webkit-transform: rotate(0);
      opacity: 1;
    }
    65% {
      -webkit-transform: rotate(100deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: rotate(80deg);
      opacity: 1;
    }
    85% {
      -webkit-transform: rotate(95deg);
      opacity: 1;
    }
    90% {
      -webkit-transform: rotate(85deg);
      opacity: 1;
    }
    95% {
      -webkit-transform: rotate(90deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(90deg);
      opacity: 0;
    }
  }
  @keyframes mpp_landscape_anibox {
    0% {
      transform: rotate(0);
      opacity: 0;
    }
    20% {
      transform: rotate(0);
      opacity: 1;
    }
    65% {
      transform: rotate(100deg);
      opacity: 1;
    }
    80% {
      transform: rotate(80deg);
      opacity: 1;
    }
    85% {
      transform: rotate(95deg);
      opacity: 1;
    }
    90% {
      transform: rotate(85deg);
      opacity: 1;
    }
    95% {
      transform: rotate(90deg);
      opacity: 1;
    }
    100% {
      transform: rotate(90deg);
      opacity: 0;
    }
  }
}
