@charset "utf-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* 리셋 기본 css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Spoqa Han Sans', 'Sans-serif';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: middle;
}
a, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
/* 리셋 기본 css */

// 상단 탑 세로 길이 지침 영역 
.top_page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #6c9cf5;
    height: 5px;
    transition: 0.3s all ease;
}
.top_page div.percent_bar {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    background: #efefef;
    height: 5px;
    transition: 0.3s all ease;
}
// 상단 탑 세로 길이 지침 영역 

// 배경색 지정
body {
    transition: 1s all ease;
}
.bg_01 {
	background-color: #EEFFF3;
}
.bg_02 {
	background-color: #FFFFF2;
}
.bg_03 {
	background-color: #FFF2F0;
}
.bg_04 {
	background-color: #ECF9FF;
}
.bg_05 {
	background-color: #F9F1FF;
}

// 배경색 지정

// 인트로
div.intro, {
	height: 100vh;
	// border: 1px solid #333; box-sizing: border-box;
	background: url(../img/photo_01.jpg) no-repeat;
	background-size: 100%;
	background-position: right;
}
// 인트로

// 디데이카운터
.countdown {
	margin-top: 60vh;
	padding-left: 20px;
	font-size: 8vw;
	text-shadow: 0px 0px 10px #FFf;
	h2 {
		font-size: 0.8em;
	}
	h3 {
		margin: 4px 0 4px 0;
	}
	#clock {
		// border: 1px solid #333; box-sizing: border-box;
		width: 68vw;
		span {
			font-size: 1.8em;
		}
	}
}
// 디데이카운터

// 신랑신부
div.contact {
	height: 100vh;
	.box {
		height: 100vh;
		float: left;
		// border: 1px solid #333; box-sizing: border-box;
		width: 50%;
		cursor: pointer;
		transition: 1s all ease;
	}
	.groom {
		background: url(../img/photo_02.jpg) no-repeat;
	}
	.bride {
		background: url(../img/photo_03.jpg) no-repeat;
	}
	.groom, .bride {
		background-size: cover;
		background-position: center;
	}
}
// 신랑신부






// 더미 CSS

p {
  line-height: 30px;
}


.contact2, .gallery, .guestbook, .place, .share {
height: 300px;
border: 1px solid #333; box-sizing: border-box;
}

#scrollValue {
	position: fixed;
	top: 20px;
	right: 20px;
}
//  더미 CSS































// 끝