@charset "UTF-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* 리셋 기본 css */
body {
  transition: 1s all ease;
  font-size: 3vh;
  color: #333;
}
body main section {
  height: 100vh;
}
body main section .title {
  border: 1px solid #333;
  box-sizing: border-box;
  background: #efefef;
  height: 5vh;
}
body main section .contents {
  height: 95vh;
  border: 1px solid #333;
  box-sizing: border-box;
}

div.intro {
  height: 100vh;
  background: url(../img/photo_01.jpg) no-repeat;
  background-size: 140%;
  background-position: center;
}

.countdown {
  position: absolute;
  left: 1.5em;
  bottom: 4.5em;
  text-shadow: 0px 0px 10px #FFf;
}
.countdown h2 {
  font-size: 1.4em;
}
.countdown h3 {
  font-size: 1em;
  margin: 4px 0 4px 0;
}
.countdown #clock span {
  font-size: 1.6em;
}

.contact_1 {
  height: 75vh;
}

.contact_2 {
  height: 20vh;
}

.box {
  height: 100%;
  float: left;
  width: 50%;
  cursor: pointer;
  transition: 1s all ease;
  overflow: hidden;
}

.groom {
  background: url(../img/photo_02.jpg) no-repeat;
}

.bride {
  background: url(../img/photo_03.jpg) no-repeat;
}

.groom, .bride {
  background-size: cover;
  background-position: center;
  position: relative;
}
.groom .title, .bride .title {
  width: 3em;
  text-align: center;
  line-height: 0.5em;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #F3D9ED;
  box-sizing: border-box;
  background-color: rgba(235, 219, 235, 0.5);
  border-radius: 0 20px 0 0/0 20px 0 0;
}
.groom.on .tel, .bride.on .tel {
  bottom: 50px;
  opacity: 1;
  transition: 1s all ease;
}
.groom .tel, .bride .tel {
  position: absolute;
  bottom: -100%;
  width: 100%;
  opacity: 0;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 10px #333;
}
.groom .tel p, .bride .tel p {
  margin-bottom: 10px;
}
.groom .tel div.img, .bride .tel div.img {
  width: 2.6em;
  height: 2.5em;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
}
.groom .tel div.img img, .bride .tel div.img img {
  height: 100%;
  margin-left: 10%;
}

.owl-carousel div.item {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.owl-carousel .slide_01 {
  background-image: url(../img/slide_01.jpg);
}
.owl-carousel .slide_02 {
  background-image: url(../img/slide_02.jpg);
}
.owl-carousel .slide_03 {
  background-image: url(../img/slide_03.jpg);
}
.owl-carousel .slide_04 {
  background-image: url(../img/slide_04.jpg);
}
.owl-carousel .slide_05 {
  background-image: url(../img/slide_05.jpg);
}
.owl-carousel .slide_06 {
  background-image: url(../img/slide_06.jpg);
}
.owl-carousel .slide_07 {
  background-image: url(../img/slide_07.jpg);
}
