@charset "utf-8";
/* 리셋 기본 css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: middle;
}
a, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}
/* 리셋 기본 css */

// 기본설정
body {
  font-size: 100%;
  color: #333;
  section {
    background: #fff;
  }
  img {
    width: 100%;
  }
  h3 {
  font-size: 1.5em;
  margin: 4px 0 4px 0;
  }

}
// 기본설정

// 페이지 로딩중
#loading {
	width: 100%;  
	height: 100%;  
	top: 0px;
	left: 0px;
	position: fixed;  
	display: block;  
	opacity: 0.8;  
	background-color: #fff;  
	z-index: 99;  
	text-align: center;
} 
  
#loading-image {  
	position: absolute;  
	top: 50%;  
	left: 50%; 
	margin: -50px;
	z-index: 100;
}
// 페이지 로딩

// PC대응
.qr_code {
  display: none;
  position: absolute;
  top: 10em;
  right: 10em;
  text-align: center;
  p {
    margin-top: 1em;
    font-size: 2em;
  }
}
// PC대응

// 인트로
.intro {
  background: url(../img/photo_01.jpg) no-repeat;
	background-size: 140%;
	background-position: center;
	.calligraphy {
		position: absolute;
		top: 2em;
		left: 1.5em;
		width: 70vw;
  }
  .finger {
		position: absolute;
		// bottom: 3em;
		right: 2em;
		width: 2.5em;
		animation: finger_slide 3s ease infinite;
  }
  // 디데이카운터
  .countdown {
    position: absolute;
    left: 2em;
    bottom: 4.5em;
    text-shadow: 0px 0px 20px #FFf;
    span {
      font-size: 1.8em;
    }
  }
  // 디데이카운터
}
// 인트로
// 인트로 핑거 애니메이션
@keyframes finger_slide {
  0% {
		opacity: 0.2;
		bottom: 2em;
		transform: scale(1.3)
  }
  20% {
		opacity: 0.7;
		bottom: 2em;
		transform: scale(1)
  }
  70% {
		opacity: 0.7;
		bottom: 3em;
		transform: scale(1)	
	}
  100% {
		opacity: 0.2;
		bottom: 2em;
		transform: scale(1.3)
  }
}
// 인트로 핑거 애니메이션

// 인사말
.greetings {
  .greetings_box {
    background: url(../img/bg_photo_01.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    padding: 1.5em 2em;
    p {
      margin: 0.5em auto;
      font-size: 1.2em;
      text-shadow: 0px 0px 20px #fff;
      line-height: 1.4em;
    }
  }
  // 요약
  .summary {
    position: absolute;
    bottom: 1em;
    // padding: 1.5em 1em;
    width: 100%;
    box-sizing: border-box;
    p {
      font-size: 1em;
      margin: 0.5em 0;
      text-align: center;
      line-height: 1.4em;
      & span {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  // 요약
}
// 인사말

// 신랑신부&혼주소개
.groom_bride {
  // 신랑신부 혼주 소개 높이 체크
  .contact_1 {
    //신랑신부소개 높이
    height: 75vh;
    overflow: hidden;
    border: 1px solid #333; box-sizing: border-box;
  }
  .contact_2 {
    //혼주소개 높이
    height: 25vh;
    overflow: hidden;
    border: 1px solid #333; box-sizing: border-box;
  }
  // 신랑신부 혼주 소개 높이 체크
  .box {
	height: 100%;
	float: left;
	width: 50%;
	cursor: pointer;
	transition: 1s all ease;
	overflow: hidden;
  }
  .groom {
    background: url(../img/photo_02.jpg) no-repeat;
    .semicircle {
      right: -2.5em;
      border-radius: 5em 0 0 5em; 
      text-align: left;
    }
    .ment {
      color: 	#FFB6C1;
    }
  }
  .bride {
    background: url(../img/photo_03.jpg) no-repeat;
    border-left: 1px solid #666; box-sizing: border-box;
    .semicircle {
      left: -2.5em;
      border-radius: 0 5em 5em 0; 
      text-align: right;
    }
    .ment {
        color: 	#87CEEB;
    }
  }


  .groom, .bride {
    background-size: cover;
    background-position: center;
    position: relative;
    .finger { //손가락
      position: absolute;
      top: 2.5em;
      right: 11vw;
      width: 1em;
      animation: finger_click 3s ease infinite;
      img {
        width: 100%;
      }
    }
    .semicircle {
      width: 5em;
      height: 5em;
      line-height: 5em;
      position: absolute;
      top: 30vh;
      font-size: 1em;
      color: #efefef;
      background: RGBA(64, 74, 122, 0.6);
      overflow: hidden;
    }
    .contents_title {
      transition: 1s all ease;
      line-height: 1em;
      text-align: center;
      margin: 0 auto;
      margin-top: 1em;
      padding: 0.5em;
    }
    .ment {
      opacity: 0;
      font-size: 1px;
      transition: 1s all ease;
    }
    &.on {
      .contents_title {
        font-size: 1.5em;
        transition: 1s all ease;
        text-shadow: 0px 0px 10px #FFF;
      }
      .ment {
        opacity: 1;
        margin-top: 8em;
        padding: 3em 0;
        font-size: 1em;
        line-height: 1.2em;
        font-style: italic;
        text-align: center;
        text-shadow: 1px 1px 2px #333;
        transition: 1s all ease;
      }
      .tel {
        bottom: 1em;
        opacity: 1;
        transition: 1s all ease;
      }
    }
    .tel {
      position: absolute;
      bottom: -100%;
      width: 100%;
      opacity: 0;
      font-size: 0.9em;
      text-align: center;
      color: #fff;
      text-shadow: 0px 0px 10px #333;
      p {
        margin-bottom: 10px;
      }
      div.img {
        width: 2.6em;
        height: 2.5em;
        border-radius: 50%;
        padding: 10px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        img {
          height: 100%;
          margin-left: 10%;
        }
      }
    }
  } 

}
// 신랑신부&혼주소개



